modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 19381
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BNn43EPwqt4cIGBxlN3bD5QhVUib5_f3JLYM-r4v6B5Ah8WF7nlCiaAy_TEmP-3T6YbWkdZelW-0pmBvZ0yVbAU"
VAPID_PRIVATE_KEY = "Y3XmtD_vz94cERHV4C7ezV1_F6MVMts13-gZIoRzo3I"
VAPID_EMAIL = "mailto:admin@meridianflow.site"
